body{margin:0;padding: 0;background-color: rgb(240,240,240)}
body,input{font: 14px 'microsoft yahei',"微软雅黑","Lucida Grande", Helvetica, Arial, sans-serif;}
header{
	height:70px;/*IE5*/
	height:30px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(225,225,225);
	font-size: 30px;
	line-height: 30px;
	text-indent: 20px;
	color:gray;
	font-weight: bold;
	border-bottom: 1px solid rgb(205,205,205)
}
a{text-decoration: none;color:black;}
input{border-width: 0}
input:focus{outline: none}
textarea{overflow-y: visible}
textarea{height: 100%}
textarea:focus,textarea:hover{outline: none}
.relative{position: relative}
.left{float:left;}
.right{float:right;}
.l{width: 300px;border-right: 2px solid rgb(205,205,205)}
.c{width:300px;border-right: 2px solid rgb(205,205,205)}
.r{
	margin-left: 604px;
	height: 100%;
}
.l,.c,.r{min-height: 630px}
.m-header{
	border-bottom:2px solid rgb(205,205,205);
}
.m-desc{
	font-size: 20px;
	line-height: 20px;
	text-indent: 40px;
	padding-top: 10px;
	height: 600px;
}
.m-desc{background-color: rgb(240,240,240)}
.m-desc:focus,.m-desc:hover{
	background-color: white;
}
.graycolor{background-color: rgb(240,240,240)}
.papercolor{background-color: rgb(240,240,240)}
.whitecolor{background-color: white}
.l .topic{
	font-size: 18px;
	margin-left: 20px;
	line-height: 30px;
}
.l .list{margin-left: 0}
.task{
	background-color: rgb(240,240,240);
	font-size: 18px;
	width: 298px;
	text-indent: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition:text-indent 0.5s;
	-webkit-transition:text-indent 0.5s;
}
.task:hover,.task:focus{
	background-color: white;
	text-indent: 60px;
}
.save{
	margin-left: 40px;
	color: gray;
	border-left: solid 2px gray;
	padding: 0 10px; 
}

.add{
	text-indent: 20px;
	font-size: 18px;
	position: fixed;
	bottom: 0px;
	left:0;
	transition:text-indent 0.5s;
	-webkit-transition:text-indent 0.5s;
	background-color: rgba(240,240,240,0.7);
	width: 300px;
}
.add:hover{text-indent:40px;}
.deleter{
	display: none;
	position:absolute;
	right:10px;
	top:12px;
	width:20px;
	text-indent: center;
	color:black;
}
.deleter:hover{
}





.desc{
	background-color: rgba(0,0,0,0);
	text-indent: 0px;
	font-size: 18px;
	line-height: 27px;
	width: 100%;
	border: 0;
}
.desc:focus,.desc:hover{
}