/*ECharts.css*/
body{
	margin:0;
}
header{
	background-color: #e7e7e7;
	height:53px;
}
div img{
	width:100%;
	height:400px;
	z-index:1;
}
ol{
	position: relative;
	top:-60px;
	text-align: center;
}
li{
	display: inline-block;
	margin:1px;
	width:10px;
	height:10px;
	background-color: none;
	border-radius: 50%;
	border:solid 2px white;

}
.blk{width: 100%;float:left;}
.carousel{width: 100%}
.white{
	background-color: white;
}
.left{float:left;}
.right{float:right;}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */
/**/
.carousel{
	overflow: hidden;
	position: relative;
	height:400px;
}
.bar{
	height: 600px;
	background-color: #e7e7e7;
}
/*.item{display: none}*/
.hide{display: none}
.item{
	width:100%;
	height:400px;
    position: absolute;
    left:100%;
    -webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
.show{
	left:0;
}
.left{
	left:-100%;
}